*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "Header Header Header"
    "Content Content Content"
    "PriceList PriceList PriceList"
    "Footer Footer Footer";
}
#Header{
    grid-area: Header;
    background-color: #2B3499;
    font-family: 'Courier New';
    display: grid;
    grid-template-areas: 
    "Logo Menu TimKiem"
    "Banner Banner Banner";
    grid-template-columns: 1fr 2fr 1fr;
}


/* Logo */
#Logo{
    grid-area: Logo;
    display: flex;
    justify-content : center;
    align-items: center;
}
#Logo a{
    text-decoration: none;
}
#Logo h1{
    color: #F4A55D;
} 

/* menu */
#Menu{
    grid-area: Menu;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-menu {
    font-family: sans-serif;
    list-style:none;
    overflow: hidden;
}
#Menu a{
    color: #e8e8e8;
}
#list-menu {
    float: left;
}
#list-menu a, .dropbtn {
    list-style:none;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
}
#list-menu a:hover, .dropdown:hover .dropbtn {
    background-color: #F4A55D;
}
#list-menu a, .dropdown {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B3499;
    min-width:  100px;
    box-shadow: 0px 8px 16px 0px  black;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: aliceblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#Menu ul li{
    text-decoration: none;
}
#TimKiem{
    grid-area: TimKiem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#TimKiem button{
    width: 100px;
    height: 40px;
    background-color: #F4A55D;
    border: 0px;
    border-radius: 5px;
    color: #e8e8e8;
    font-family: 'Courier New';
}
#TimKiem button:hover{
    box-shadow: #e8e8e8 5px 6px 6px;
}
#TimKiem img:hover{
    box-shadow: #e8e8e8 5px 6px 6px;
}
#Banner{
    height: 500px;
    grid-area: Banner;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),url("background.jpg");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    border: 0px;
}
#Banner h1{
    color: #e8e8e8;
    padding: 140px 200px 20px 100px;
    text-align: right;
    font-size: 60px;
}
#Content{
    width: 100vw;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Con{
    margin: 150px 0px 150px 0px;
    grid-area: Content;
    display: grid;
    grid-template-areas: 
    "EMAIL LOCATION PHONE"
    "nhap nhap nhap"
    "subject subject subject"
    "message message message"
    "Nut Nut Nut";
    width: 1000px;
    background-color: #ffff;
    padding: 40px;
}
#Content h2{
    font-family: 'Courier New';
}
#Content p{
    font-family: 'Courier New';
    color:rgb(110, 112, 114);
}
#Con #icon{
    margin-top: 10px;
    margin-right: 5px;
}
#Con input{
    height: 50px;
    padding-left: 20px;
}
/*table*/
th{
    border: 1px solid black;
    border-collapse: collapse;
}
table tr > td{
    border: 1px solid black;
    border-collapse: collapse;
}
#HoTen{
    width: 300px;
}
.TD{
    background-color: #F4A55D;
}
.STT{
    width: 50px;
    text-align: center;
}
.TM{
    width: 500px;
}
#nhap{
    display: flex;
    grid-area: nhap;
}
input{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #e8e8e8;
}
textarea{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #e8e8e8;
}
#EMAIL{
    display: flex;
    margin-top: 30px;
    grid-area: EMAIL;
}
#LOCATION{
    display: flex;
    margin-top: 30px;
    grid-area: LOCATION;
}
#PHONE{
    display: flex;
    margin-top: 30px;
    grid-area: PHONE;
}
#name{
    margin-top: 30px;
    grid-area: name;
}
#mail{
    margin-top: 30px;
    grid-area: mail;
}
#subject{
    margin-top: 30px;
    grid-area: subject;

}
#message{
    margin-top: 30px;
    grid-area: message;
}
#Con #nuts{
    grid-area: Nut;
    margin-top: 30px;
    margin-right: 30px;
    width: 200px;
    height: 60px;
    background-color: #F4A55D;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-family: 'Courier New';
    justify-content: center;
    align-items: center;
}
#Con button:hover{
    box-shadow: #e8e8e8 5px 6px 6px;
}
#Con {
    justify-content: center;
    align-items: center;
}
#Footer{
    padding: 100px;
    grid-area: Footer;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("background.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(5px); /* Độ mờ của nền */
    background-size: 100% 100%;
    color: #e8e8e8;
    background-color: rgb(27, 20, 20);
}
#FLogo{
    display: flex;
}
#FLogo h1{
    margin-left: 20px;
}
#ThongTin{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 300px;
    margin-top: 100px;
    margin-bottom: 90px;
}
#imgLienLac{
    display: flex;
}
#lich{
    display: flex;
}
#lich #Gio{
    margin-left: 10px;
}

#TheoDoiimg{
    display: flex;
}
#TheoDoiimg img{
    margin-right: 10px;
}

.Content_gt{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
}

#content{
    width: 100%;
} 

.Content_gt h2{
    color: #F4A55D;
}
.Content_gt h1{
    margin-bottom: 20px;
}
.Content_gt h4{
    color: rgb(110, 112, 114);
}
.GT{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.GT .GT_bo{
    display: flex;
    justify-content: space-evenly;
}
.GT_con{
    width: 300px;
    font-weight:bolder;
}
.management{
    width: 100%;
    padding: 100px;
    font-family: 'Courier New';
    display: flex;
    justify-content: space-evenly;
}

#conconten{
    width: 30vw;
    margin: 30px;
}

#conconten ul{
    list-style: none;

}
#SecondContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#SCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#SecondContent {
    height: 850px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),url("wp5599667.jpg");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    display: flex;
    grid-area: PriceList;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}




.Button1 {
    margin-top: 30px;
    padding: 20px 30px 20px 30px;
    background-color: #0033CC; 
    color: white; 
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.Button1:hover {
    background-color: #0066FF;
    color: white;
}

.Button2 {
    margin-top: 30px;
    padding: 20px 30px 20px 30px;
    background-color: red; 
    color: white; 
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.img2 {
    padding-right: 8px;
}

.Dola {
    font-size: 25px;
}